<!DOCTYPE html>
<html lang="en">
	<head>
		<title>neurahub</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style/style.css') }}">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
	</head>
	<body>
		<nav class="navbar navbar-expand-lg bg-body-tertiary">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">
					<img src="{{ url_for('static', filename='img/neurahub_logo_no_bg.png') }}" alt="Logo" height="100" class="d-inline-block align-items-center">
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="#">Login</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Signup</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="welcome-section d-flex align-items-center justify-content-center">
			<span class="h1 text-white font-weight-bold">Welcome to neurahub</span>
		</div>
		<div class="d-flex flex-column mx-auto align-items-center justify-content-center">
			<h1 class="font-weight-bold pt-4 pb-2 text-center">What can you do with neurahub</h1>
			<p class="text-center">Optimize learning! neurahub facilitates communication between teacher and student</p>
		</div>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-4 text-center">
					<i class="fa-solid fa-brain fa-3x"></i>
					<p class="pt-3"><b>neurahub</b> uses machine learning to collect and provide important data that can be used to track students learning progress</p>
				</div>
				<div class="col-lg-4 text-center">
					<i class="fa-brands fa-github fa-3x"></i>
					<p class="pt-3"><b>neurahub</b> is an open source project, you can check its code whenever you want</p>
				</div>
				<div class="col-lg-4 text-center">
					<i class="fa-solid fa-comment fa-3x"></i>
					<p class="pt-3">Our goal is to provide a comfortable and calm communication between students and teachers, with feedbacks, data analysis and of course dialog, it's possible to provide a more harmonic ambient</p>
				</div>
			</div>
		</div>
		<div class="d-flex flex-column mx-auto align-items-center justify-content-center">
			<h1 class="font-weight-bold pt-4 pb-2 text-center">Development</h1>
		</div>
		<div class="container">
			<div class="row justify-content-center align-items-center">
				<div class="col-lg-4 text-center">
					<p class="pt-3"><b>neurahub</b> uses Python in the back-end and in the model development, everything is brought to you by Atomic AI</p>
				</div>
				<div class="col-lg-4 text-center">
					<img src="{{ url_for('static', filename='img/atomicai_logo.png') }}" alt="Logo" height="256" class="d-inline-block align-items-center">
				</div>
			</div>
		</div>
		<footer class="bg-dark text-white p-4">
			<div class="container">
				<div class="row">
					<div class="col-md-6 text-center">
						<h4>Contact</h4>
						<p>Email: marcot.dns@gmail.com</p>
					</div>
					<div class="col-md-6 text-md-right text-center">
						<h4>Follow us</h4>
						<a href="https://github.com/labsatomicai" target="_blank" class="text-white">Github</a>
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-12 text-center">
						<p>&copy; <span id="current_year"></span> Atomic AI. All rights reserved.</p>
					</div>
				</div>
			</div>
		</footer>
		<script>
			document.getElementById('current_year').innerText = new Date().getFullYear();
		</script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
	</body>
</html>
