<!DOCTYPE html>
<html lang="en">
	<head>
		<title>neurahub</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style/style.css') }}">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
	</head>
	<body>
		<nav class="navbar navbar-expand-lg bg-body-tertiary">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">
					<img src="{{ url_for('static', filename='img/neurahub_logo_no_bg.png') }}" alt="Logo" height="100" class="d-inline-block align-items-center mx-auto px-5">
				</a>
			</div>
		</nav>
		<div class="container mx-auto p-4">
			<h2>Launched tasks</h2>
			<hr>
			<div class="table-responsive">
				<table class="table table-bordered table-striped table-hover text-center align-items-center">
					<thead>
						<tr>
							<th scope="col">Task Name</th>
							<th scope="col">Due Date</th>
							<th scope="col">Area</th>
							<th scope="col">Room</th>
							<th scope="col">Teacher</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody>
						{% for task in created_tasks %}
						<tr>
							<td>{{ task['task_name'] }}</td>
							<td>{{ task['due_date'] }}</td>
							<td>{{ task['area_name'] }}</td>
							<td>{{ task['room_name'] }}</td>
							<td>{{ task['teacher_name'] }}</td>
							<td>
								<div class="d-flex justify-content-center">
									<div class="px-1">
										<a href="{{ url_for('main.return_processed_id_to_edit', task_id=task['task_id']) }}" class="btn btn-primary btn-sm">Edit</a>
									</div>
									<div class="px-1">
										<a href="{{ url_for('main.return_processed_id_to_delete', task_id=task['task_id']) }}" class="btn btn-danger btn-sm">Delete</a>
									</div>
								</div>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<hr>
			<div class="d-flex justify-content-end">
				<a class="btn btn-primary  active" role="button" aria-pressed="true" href="/create-task">Add new task</a>
			</div>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
	</body>
</html>
