<!DOCTYPE html>
<html lang="en">
	<head>
		<title>neurahub - teacher's panel</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/style.css') }}">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
		<script src="https://unpkg.com/feather-icons"></script>
	</head>

	<body>
		<nav class="navbar navbar-expand-lg bg-body-tertiary">
			<div class="container-fluid">
				<a class="navbar-brand" href="/">
					<img src="{{ url_for('static', filename='img/neurahub_logo_no_bg.png') }}" alt="Logo" height="100"
					class="d-inline-block align-items-center mx-auto px-5">
				</a>
			</div>
		</nav>

		<div class="container mx-auto p-4">
			<h2>Launched tasks</h2>
			<hr>

			{% if created_tasks %}
			<div class="table-responsive">
				<table class="table table-striped table-hover text-center align-items-center">
					<thead>
						<tr>
							<th scope="col">Task Name</th>
							<th scope="col">Due Date</th>
							<th scope="col">Area</th>
							<th scope="col">Room</th>
							<th scope="col">Teacher</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody>
						{% for task in created_tasks %}
						<tr>
							<td>{{ task['task_name'] }}</td>
							<td>{{ task['due_date'] }}</td>
							<td>{{ task['area_name'] }}</td>
							<td>{{ task['room_name'] }}</td>
							<td>{{ task['teacher_name'] }}</td>
							<td>
								<div class="d-flex justify-content-center"H>
									<div class="px-1">
										<a href="{{ url_for('main.return_processed_id_to_feedback', task_id=task['task_id']) }}"
											class="text-dark"><i data-feather="check"></i></a>
									</div>
									<div class="px-1">
										<a href="{{ url_for('main.return_processed_id_to_edit', task_id=task['task_id']) }}"
											class="text-dark"><i data-feather="edit"></i></a>
									</div>
									<div class="px-1">
										<a href="{{ url_for('main.return_processed_id_to_delete', task_id=task['task_id']) }}"
											class="text-dark"><i data-feather="trash"></i></a>
									</div>
								</div>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			{% else %}
			<div class="text-center">
				<p class="fs-3">No tasks to see today</p>
			</div>
			{% endif %}

			<div class="d-flex justify-content-end">
				<a class="btn btn-outline-primary" role="button" aria-pressed="true" href="/create-task">Add new task</a>
			</div>
		</div>

		<script>
			feather.replace();
		</script>
	</body>

</html>

